#mainHeader{
	color:black;
	font-family: Papyrus,fantasy;
	font-weight: normal;
    font-size: 3.5em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: center;   
}

#profileHeader{
	color:black;
	font-family: Papyrus,fantasy;
	font-weight: normal;
    font-size: 1.5em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px; 
}

#aboutme{
    color:white;
	font-family: Papyrus,fantasy;
	font-weight: normal;
    font-size: 1.5em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px; 
}



