#feed, h2{
	color:black;
	font-family: Papyrus; 
	font-weight: normal;
    font-size: 2em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: center;
	text-transform: uppercase;
}
#feed, p{
    color:black;
	font-family: Papyrus; 
	font-weight: normal;
    font-size: 100%;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: left;
    
}
#feed{
    width:100;
    text-align:center;
}

.post {
    
background-color: white;
padding-right:7px;
padding-left:7px;
margin-top: 20px;
margin-bottom: 20px;
}
.post:hover {
border: 4px solid #000000;
}
.post:active {
border: 4px solid white;
}