#feed, h2{
	color:black;
	font-family: Papyrus,fantasy; 
	font-weight: normal;
    font-size: 2em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: center;
	text-transform: uppercase;
}
#feed{
    background-color:white;
    width:100;
    text-align:center;
}

