/*
    Document   : Final_Project/Digital-Parent-Teacher-Assistant/css/profile.css
    Created on : 2015-05-06 09:11 PM
    Author     : rive1941
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
#proPicture
{
   height: 200px;
   width: 200px;
}