
h1{
	color:black;
	font-family: Papyrus,fantasy;
	font-weight: normal;
    font-size: 2.5em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: center;    
}

#formDiv {
   margin-left: auto;
   margin-right: auto;
   width: 300px;
   display: block;
   float: none;
}

#button{
    background: black;
    border-radius: 20px;
    text-shadow: 7px 6px 5px pink;
    box-shadow: 10px 9px 8px gray;
    color: white;
    font-size: 20px;
    padding: 5px;
    border: solid #227baa 5px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
}

