#header2{
	color: black;
	font-family: Papyrus,fantasy;
	font-weight: normal;
    font-size: 2.5em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: center;    
}


#banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 9px 8px black;
    width = 1200px; 
    height = 120px; 
}